/*要使用float一定要給寬度*/

* {
    box-sizing: border-box;
}

.sidebar1{
    float: left;
    width: 20%;
    background-color: aquamarine;
    padding: 10px;
}

.main{
    width: 60%;
    float: left;
    background-color: bisque;
    padding: 10px;
    
}

.sidebar2{
    float: right;
    width: 20%;
    background-color:aliceblue;
    padding: 10px;
}


.footer{
    clear: both;
    background-color: saddlebrown;
}